@font-face {
    font-family: BebasNeue;
    font-style: normal;
    font-weight: 400;
    src: url('web\ fonts/bebasneue_regular_macroman/specimen_files/BebasNeue-webfont.eot?#iefix') format(embedded-opentype), url('web\ fonts/bebasneue_regular_macroman/specimen_files/BebasNeue-webfont.woff') format(woff), url('web\ fonts/bebasneue_regular_macroman/specimen_files/BebasNeue-webfont.ttf') format(truetype), url('web\ fonts/bebasneue_regular_macroman/specimen_files/BebasNeue-webfont.svg#webfont') format(svg);
}

html,body {
    height: 100%;
    margin: 0;
    width: 100%;
}

a {
    color: red;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
    text-decoration: underline;
}

a:clicked {
    text-decoration: none;
}

#partone {
    background-image: url(http://bit.ly/1lFYUFP);
    background-size: 100% 100%;
    top: 0;
    width: 100%;
    z-index: 1;
}

#partzero {
    background: #000;
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

#title {
    border-radius: 5px;
    color: #FFF;
    font-family: 'Open Sans', BebasNeue, Arial, Impact;
    font-size: 50pt;
    font-style: italic;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    max-width: 9em;
    opacity: 0.75;
    padding: 7.5px 15px;
    position: relative;
    text-align: center;
    top: 2.5em;
    z-index: 3;
}

.item {
    display: block;
    float: left;
    font-size: 32pt;
    margin-top: 2em;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
    width: 33.33%;
}

#contact {
    background: #FFF;
    border-radius: 10px;
    display: none;
    font-family: 'Open Sans', BebasNeue, Arial, Impact;
    font-size: 12pt;
    font-weight: 700;
    height: 230px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.9;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 28%;
    width: 600px;
    z-index: 4;
}

.myexp {
    background-color: #FFF;
    border-top: 2px solid #000;
    min-height: 19.9%;
    position: relative;
    width: 100%;
}

.myexp:hover,#arrow_container:hover,#close:hover {
    cursor: pointer;
}

.subtitle {
    font-family: 'Open Sans', BebasNeue, Arial, Impact;
    font-size: 25pt;
    left: 2%;
    position: absolute;
    top: 34%;
}

.list_edu {
    display: none;
    margin: 13% 0 0 30px;
    padding: 0 0 1em;
    position: relative;
}

#arrow_container {
    -webkit-transition: color .5s ease-in-out;
    color: #FF5A5A;
    font-size: 4em;
    height: 75px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9em;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    width: 100px;
    z-index: 3;
}

#arrow_container:hover,#contact_icon:hover {
    color: #E60000;
    cursor: pointer;
}

.extraOtherCSS {
    position: absolute;
}

.extraCSS {
    font-size: 33px;
    left: 14px;
    position: absolute;
    top: 15px;
}

#contact_icon {
    -webkit-transition: color .5s ease-in-out;
    color: #FF5A5A;
    font-size: 4em;
    height: 60px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 53%;
    width: 57px;
    z-index: 3;
}

#close {
    color: #000;
    font-size: 16pt;
    position: absolute;
    right: 5px;
    top: 0;
}

#parttwo,#partthree {
    background-image: url(http://bit.ly/1m0oapG);
    background-size: 100% 100%;
    width: 100%;
    z-index: 1;
}