html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
}

a {
	text-decoration: none;
	color: #F00;
}

a:hover {
	text-decoration: underline;
	font-weight: bold;
}

a:clicked {
	text-decoration: none;
}

#partone {
	background-image: url(http://bit.ly/1lFYUFP);
	background-size: 100% 100%;
	top: 0;
	width: 100%;
	z-index: 1;
}

#partzero{
	top: 0;
	width: 100%;
	position: absolute;
	z-index: 2;
	background: black;
	opacity: 0.8;
}

#parttwo {
	background-image: url(http://bit.ly/1m0oapG);
	background-size: 100% 100%;
	width: 100%;
	z-index: 1;
}

#partthree {
	background-image: url(http://bit.ly/1m0oapG);
	background-size: 100% 100%;
	width: 100%;
	z-index: 1;
}

#title {
	position: relative;
	top: 2.5em;/*Collapsing margins*/
	margin-left: auto;
	margin-right: auto;
	max-width: 9em;
	padding: 7.5px 15px;
	font-size: 50pt;
	font-family: 'Open Sans', 'BebasNeue', Arial, Impact;
	font-weight: 700;
	color: #FFF;
	text-align: center;
	opacity: 0.75;
	border-radius: 5px;
	font-style: italic;
	z-index: 3;
}

.item {
	position: relative;
	display: block;
	margin-top: 2em;
	float: left;
	font-size: 32pt;
	width: 33.33%;
	padding-top: 30px;
	padding-bottom: 30px;
}

#contact{
	position: absolute;
	z-index: 4;
	width: 600px;
	height: 230px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border-radius: 10px;
	padding-left: 25px;
	padding-right: 25px;
	top:28%;	
	display:none;
	font-family: 'Open Sans', 'BebasNeue', Arial, Impact;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	opacity: 0.9;
}

.myexp {
	position: relative;
	width: 100%;
	min-height: 19.9%;
	background-color: #FFF;
	border-top: 2px solid #000;
}

.myexp:hover, #arrow_container:hover, #close:hover {
	cursor: pointer;
}

.subtitle {
	position: absolute;
	top: 34%;
	left: 2%;
	font-family: 'Open Sans', 'BebasNeue', Arial, Impact;
	font-size: 25pt;
}

.list_edu {
	position: relative;
	margin: 0;
	padding: 0;
	margin-top: 13%;
	padding-bottom: 1em;
	display: none;
	margin-left: 30px;
}


#arrow_container {
	position: absolute;
	margin-top: 9em;
	width: 100px;
	height: 75px;
	margin-left: auto;
	margin-right: auto;
	font-size: 4em;
	text-align: center;
	color: #FF5A5A;
	padding: 0;
	z-index: 3;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: color 0.5s ease-in-out;
}

#arrow_container:hover{
	color: #FF3838;
}

.extraOtherCSS{
	position:absolute;
}

.extraCSS{
	position: absolute;
	top: 15px;
	left: 14px;
	font-size: 33px;
}

#contact_icon {
	position: absolute;
	top: 53%;
	right: 0;
	font-size: 4em;
	width: 57px;
	height: 60px;
	left: 0;
	margin-left: auto;
	margin-right: auto;
	z-index: 3;
	color: #FF5A5A;
	-webkit-transition: color 0.5s ease-in-out;
}

#contact_icon:hover {
	cursor:pointer;
	color: #FF3838;
}

#close {
	position: absolute;
	top: 0px;
	right: 5px;
	color: #000;
	font-size: 16pt;
}